body {
  background: #fcf9f0;
  color: #343434;
  font-size: 12px;
}

a {
  color: #343434;
  text-decoration: none;
}

.clearfix:after {
  display: block;
  height: 0px;
  content: "";
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.flo-l {
  float: left;
}

.flo-r {
  float: right;
}

.wideWidth {
  width: 960px;
  margin: 0 auto;
}

.fb-like {
  line-height: 1;
  margin-right: 10px;
}

.mgTop {
  margin-top: 20px;
}

.mgBottom {
  margin-bottom: 20px;
}

.textL {
  text-align: left;
}

.textR {
  text-align: right;
}

.textC {
  text-align: center;
}

#wrapper {
  padding-bottom: 160px;
}

#main {
  width: 640px;
  margin-right: 20px;
}

#sub {
  width: 300px;
}

.rad {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.textLink {
  color: #1380d2;
  font-size: 16px;
}
.textLink:hover {
  text-decoration: underline;
}

/* ========== GLOBAL ========== */
h1.title {
  height: 40px;
  padding-left: 15px;
  background: url(../images/titleBar.png) no-repeat left center;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
}

/* ========== HEADER ========== */
#header {
  width: 100%;
  height: 60px;
  background-color: #75adeb;
}
#header .headerCnt {
  width: 960px;
  height: 60px;
  margin: 0 auto;
}
#header .headerCnt a.logo {
  display: block;
  width: 387px;
  height: 30px;
  padding-top: 30px;
  text-indent: -9999px;
  background: url(../images/headerLogo.png) no-repeat left center;
}

/* ========== SESSION LIST ========== */
.articleArea {
  padding-top: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
.articleArea a.more {
  margin-right: 10px;
  font-size: 14px;
  line-height: 40px;
}
.articleArea ul.articleList li {
  border-top: 1px solid #ccc;
}
.articleArea ul.articleList li:first-child {
  border-top: none;
}
.articleArea ul.articleList li table {
  width: 620px;
  margin: 10px;
}
.articleArea ul.articleList li table .date {
  width: 54px;
  margin-right: 8px;
  padding: 10px 0;
  text-align: center;
  background: #c9717e;
  color: #fff;
}
.articleArea ul.articleList li table .date span {
  font-weight: bold;
  font-size: 18px;
}
.articleArea ul.articleList li table p.num {
  font-size: 16px;
}
.articleArea ul.articleList li table p.num span.current {
  color: #f45b5b;
  font-weight: bold;
  font-size: 32px;
}
.articleArea ul.articleList li table td.tableBottom {
  padding-bottom: 10px;
  float: right;
  padding-right: 15px;
  padding-bottom: 0px;
}
.articleArea ul.articleList li table td.tdLong p {
  width: 440px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.articleArea ul.articleList li table span.format {
  padding: 6px 10px;
  color: #fff;
  background: #b3b3b3;
}

/* ========== NAV PAGE ========== */
.navPage {
  text-align: center;
}
.navPage ul {
  border-top: 1px solid #ccc;
}
.navPage ul li {
  width: 30px;
  padding: 10px 5px;
  display: inline-block;
  vertical-align: top;
}
.navPage ul li span {
  font-weight: bold;
  font-size: 16px;
}
.navPage ul li.previous {
  width: 58px;
}
.navPage ul li.previous span {
  border-top: none;
  color: #dcdcdc;
  font-weight: normal;
}
.navPage ul li.next {
  width: 58px;
  text-align: left;
}

/* ========== SUB ========== */
.subBox {
  padding-top: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
.newArticleList ul li {
  padding: 8px 0 8px 15px;
  border-top: 1px solid #ccc;
}
.newArticleList ul li:first-child {
  border-top: none;
}
.newArticleList ul li table{
  width: 265px;
}
.newArticleList ul li table .subListdate{
  float: right;
}
.newArticleList ul li table .subListWriterName{
  float: left;
}

.userList ul li {
  padding: 8px 0 8px 20px;
  border-top: 1px solid #ccc;
  background: url(../images/circle.png) no-repeat 10px center;
}
.userList ul li:first-child {
  border-top: none;
}

/* ========== FOOTER ========== */
#footer {
  /*border: 1px solid #e5e5e5;*/
}
#footer .toTop {
  margin-top: -20px;
}
#footer .toTop a {
  display: block;
  width: 60px;
  height: 50px;
}
#footer .footerCnt ul li {
  float: left;
  margin: 10px 20px 0 0;
  padding: 8px 0 8px 20px;
  background: url(../images/circle.png) no-repeat 10px center;
}
#footer .copyright {
  padding: 8px 0px;
  background: #75adeb;
  color: #fff;
}

/* ========== LOGIN ========== */
#loginBody{
    width: 100%;
    height: 100%;
    background-color: #75adeb;
}
#loginCnt{
    width: 960px;
    margin: 0 auto;
    padding-top: 250px;
}
#loginForm{
    width: 480px;
    margin: 0 auto;
}
.loginInput{
    width: 480px;
    height: 30px;
    font-size: 100%;
}
.loginInputArea{
    margin-bottom: 15px;
}
#loginForm  input.loginBtn {
    width: 160px;
    height: 40px;
    margin: 4px 69px 12px 69px;
    border: 0;
    background: url(../images/btnBgGray.png) no-repeat center;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
#loginLogo{
    width: 326px;
    height: 60px;
    margin: 0 auto 20px auto;
    background: url(../images/headerLogo.png) no-repeat left center;
}

/* ========== DETAIL ========== */
.detailDate{
    float: right;
    padding-right: 10px
}
.contentArea{
    margin-bottom: 16px;
}
.content{
    padding: 10px 10px 0 10px;
}
#editerdelete{
    margin-top: 30px;
}
.adminBtn{
    width: 160px;
    height: 40px;
    display: block;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
    border: 0;
    background: url(../images/btnBgGray.png) no-repeat center;
    cursor: pointer;
}
.actionBtn{
    width: 320px;
    float: left;
}

/* ========== ADD ========== */
#titleInput {
    width: 480px;
    height: 30px;
    font-size: 100%;
}
#inputCopy{
    width: 605px;
    height: 500px;
}
#inputMemo{
    width: 605px;
    height: 200px;
}
.inputTxtarea{
    padding-left: 15px;
}
#addBtn{
    margin: 30px auto 0 auto;
}