$fontBase: #343434;
$white: #fff;
$border: #ccc;
$linkColor: #1380d2;
$btnColor: #cbd526;
$btnBorder: #b5bb07;
body{
  background: #fcfcfc;
  color: #343434;
  font-size: 12px;
}
a{
  color: #343434;
  text-decoration: none;
}
.clearfix:after{
  display: block;
  height: 0px;
  content: "";
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.flo-l{
  float: left;
}
.flo-r{
  float: right;
}
.wideWidth{
  width: 960px;
  margin: 0 auto;
}
.fb-like{
  line-height: 1;
  margin-right: 10px;
}
.mgTop{
  margin-top: 20px;
}
.mgBottom{
  margin-bottom: 20px;
}
.textL{
  text-align: left;
}
.textR{
  text-align: right;
}
.textC{
  text-align: center;
}
#wrapper{
  padding-bottom: 160px;
}
#main{
  width: 640px;
  margin-right: 20px;
}
#sub{
  width: 300px;
}
.rad{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.textLink{
  color: $linkColor;
  font-size: 16px;
  &:hover{
    text-decoration: underline;
  }
}
/* ========== GLOBAL ========== */
h1.title{
  height: 40px;
  padding-left: 15px;
  background: url(../images/titleBar.png) no-repeat left center;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
}
/* ========== HEADER ========== */
#header{
  width: 100%;
  height: 60px;
  background-color: #222;
  border-bottom: 1px solid #eee;
  .headerCnt{
    width: 960px;
    height: 60px;
    margin: 0 auto;
    a.logo{
      display: block;
      width: 387px;
      height: 30px;
      padding-top: 30px;
      text-indent: -9999px;
      background: url(../images/pcLogo.png) no-repeat left center;
    }
    ul{
      margin-top: 20px;
      margin-right: 10px;
      li{
        float: left;
      }
    }
    .registerBtn{
      a{
        display: block;
        width: 160px;
        height: 40px;
        margin-top: 10px;
        background: url(../images/btnBgGreen.png) no-repeat center;
        -webkit-transition-property: background;
        -webkit-transition-duration: 0.5s;
        -webkit-transition-timing-function: linear;
        color: $white;
        text-align: center;
        line-height: 40px;
        &:hover{
          background: url(../images/btnBgGreen_on.png) no-repeat center;
        }
      }
    }
  }
}
/* ========== HEADER ========== */

/* ========== SESSION LIST ========== */
.sessionArea{
  padding-top: 10px;
  background: $white;
  border:  1px solid $border;
  a.more{
    margin-right: 10px;
    font-size: 14px;
    line-height: 40px;
  }
  ul.sessionList{
    li{
      border-top: 1px solid $border;
      &:first-child{
        border-top: none;
      }
      table{
        width: 620px;
        margin: 10px;
        .date{
          width: 54px;
          margin-right: 8px;
          padding: 10px 0;
          text-align: center;
          background: #1dc5d0;
          color: $white;
          span{
            font-weight: bold;
            font-size: 18px;
          }
        }
        p.num{
          font-size: 16px;
          span.current{
            color: #f45b5b;
            font-weight: bold;
            font-size: 32px;
          }
        }
        td.tableBottom{
          padding-bottom: 10px;
        }
        td.tdLong{
          p{
          width: 440px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          }
        }
        span.format{
          padding: 6px 10px;
          color: $white;
          background: #b3b3b3;
        }
      }
    }
  }
}
/* ========== NAV PAGE ========== */
.navPage{
  text-align: center;
  ul{
    border-top: 1px solid $border;
    li{
      width: 30px;
      padding: 10px 5px;
      display: inline-block;
      vertical-align: top;
      span{
        font-weight: bold;
        font-size: 16px;
      }
      &.previous{
        width: 58px;
        span{
          border-top: none;
          color: #dcdcdc;
          font-weight: normal;
        }
      }
      &.next {
        width: 58px;
        text-align: left;
      }
    }
  }
}
/* ========== SUB ========== */
.subBox{
  padding-top: 10px;
  background: $white;
  border:  1px solid $border;
}
.makeArea{
  width: 300px;
  a{
    display: block;
    width: 274px;
    height: 48px;
    margin: 10px 12px;
    background: url(../images/squareBtn.png) no-repeat center;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    color: $white;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
    font-size: 15px;
    &:hover{
      background: url(../images/squareBtn_on.png) no-repeat center;
    }
  }
}
.loginArea{
  p{
    margin-bottom: 10px;
    padding: 0 10px;
    color: #aaa;
    font-size: 11px;
  }
  hr{
    border: 0 none;
    height: 1px;
    color: #ccc;
    background-color: #ccc;
  }
  .formGroup{
    width: 274px;
    margin: 10px 12px;
  }
  label.formTitle{
    color: #aaa;
    font-size: 14px;
  }
  label.error{
    display: block;
    margin-top: 4px;
    padding-left: 20px;
    color: #f45b5b;
    background: url(../images/error.png) no-repeat left center;
  }
  input{
    width: 96%;
    height: 30px;
    margin-top: 4px;
    padding-left: 2%;
    border: 1px solid $border;
    background: $white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    &.registerBtn{
      width: 160px;
      height: 40px;
      margin: 4px 70px 12px 70px;
      border: 0;
      background: url(../images/btnBgGreen.png) no-repeat center;
      color: $white;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
    }
  }
  .newAccount{
    padding: 5px 0 10px 0;
    a{
      display: block;
      width: 160px;
      height: 40px;
      margin: 0 auto;
      line-height: 40px;
      color: $white;
      background: url(../images/btnBgGray.png) no-repeat center;
      -webkit-transition-property: background;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-timing-function: linear;
      &:hover{
        color: $white;
        background: url(../images/btnBgGray_on.png) no-repeat center;
      }
    }
  }
}
.formatList{
  ul{
    li{
      padding: 8px 0 8px 20px;
      border-top: 1px solid $border;
      background: url(../images/circle.png) no-repeat 10px center;
      &:first-child{
        border-top: none;
      }
    }
  }
}
/* ========== FOOTER ========== */
#footer{
  background: $white;
  border: 1px solid #e5e5e5;
  .snsArea{
    padding: 20px 0px;
    border-bottom: 1px solid $border;
    td{
      width: 680px;
      &.sns{
        width: 140px;
      }
      h2{
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  .toTop{
    margin-top: -20px;
    a{
      display: block;
      width: 60px;
      height: 50px;
    }
  }
  .footerCnt{
    ul li{
      float: left;
      margin: 10px 20px 0 0;
      padding: 8px 0 8px 20px;
      background: url(../images/circle.png) no-repeat 10px center;
    }
  }
  .copyright{
    padding: 8px 0px;
    background: #222;
    color: $white;
  }
}
